html {
    font-family: Arial;
    text-align: center;
    background-color: white;
    
}


/* the list element */
.listElement {
    background-color: #4F99F6;
    border-radius: 20px;
    margin-left: 870px;
    margin-right: 20px;
    width: 520px;
    margin-bottom: 100px;
    
}

.heading {
    /* position: fixed; */
    /* background-color: lightblue; */
    border-bottom: 1px solid lightgrey;
}
/* got this to work somehow sometimes this works sometimes this doesn't*/
.inputBox {
    position: fixed;
    top: 720px;
    left: 525px;
}

.frontStuff {
    color: white;
    background-color: lightgrey;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 677px;
    margin-right: 677px;
    border-radius: 100%;
    padding: 3px;
    /* width: 40px;
    text-align: center;
    font-size: "40px"; */
}

.time {
    font-size: 17px;
    color: lightgrey;
    text-align: center;
}

.top {
    font-size: 17px;
    color: rgb(100, 100, 100);
    text-align: center;
    
    padding-bottom: 11px
}

.meUser {
    background-color: #4F99F6;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 870px;
    padding: 10px;
    font-size: 30px;
    text-align: left;
    color: white;
    width: 500px;
    margin-bottom: 1px;
}

.uncleGreg {
    background-color: #E9E9EB;
    margin-bottom: 1px;
    margin-left: 20px;
    width: 500px;
    padding: 10px;
    border-radius: 20px;
    font-size: 30px;
    color: #383839;
    text-align: left;
}

#list{
    text-align: left;
    list-style-type: none;  
    font-size: 30px;
    color: white;
    /* I need the text-box to naturally wrap around the size of the text */
    /* display: inline; */
}

#input {
    padding: 14px;
    /* margin-left: 500px; */
    margin-top: 20px;
    width: 850px;
    height: 25px;
    font-size: 30px;
    border: 1px solid lightgrey;
    /* background-color: #F2F7F5; */
    border-radius: 45px;
    /* position: fixed; */
}